<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta content="width=device-width, initial-scale=1" name="viewport">
	<link href="{% static 'spa/media/favicon_mount.png' %}" rel="icon" sizes="16x16" type="image/png">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<title>Form</title>
	<link href="{% static 'spa/css/form.css' %}" rel="stylesheet">    
</head>
<body>
	<div id="divwrapper">
		<h2>My Form</h2>
		<form id="formwrapper">
			<section id="left-column">
				<fieldset>
					<legend>Block One</legend>
					<p>
						<input id="firstname" type="text" name="firstname" placeholder="First Name" autofocus required tabindex="1">
						<input id="lastname" type="text" name="lastname" placeholder="Last Name" required>
						<input id="email" type="email" name="email" placeholder="email@somewhere.com" required>
						<input id="url" type="url" name="url" placeholder="URL">
					</p>
					<p>
						<label for="username">Username</label>
						<input id="username" type="text" name="username">
						<label for="password">Password</label>
						<input id="password" type="password" name="password">
					</p>
				</fieldset>
				<fieldset>	
					<legend>Block Two</legend>
				</fieldset>

			</section>
			<section id="right-column">
				<fieldset>	
					<legend>Block Three</legend>
					<p>
						<span><input type="radio" name="color" value="red">Red</span>
						<span><input type="radio" name="color" value="Green">Green</span>
						<span><input type="radio" name="color" value="Blue">Blue</span>
						<span><input type="radio" name="color" value="Cyan">Cyan</span>
						<span><input type="radio" name="color" value="Magenta">Magenta</span>
						<span><input type="radio" name="color" value="Yellow">Yellow</span>
					</p>
					<p>
						<span><input type="checkbox" name="fruit" value="apple">Apple</span>
						<span><input type="checkbox" name="fruit" value="orange">Orange</span>
						<span><input type="checkbox" name="fruit" value="banana">Banana</span>
						<span><input type="checkbox" name="fruit" value="peach">Peach</span>
						<span><input type="checkbox" name="fruit" value="pear">Pear</span>
						<span><input type="checkbox" name="fruit" value="plumb">Plumb</span>
						
					</p>

				</fieldset>
				<fieldset>
					<legend>Block Four</legend>
					<textarea rows="4" cols="40" placeholder="What Did you do?"></textarea>
					<p><input type="submit" name="Submit"></p>
				</fieldset>

			</section>

		</form>

	</div>
	<footer>
		<img src="{% static 'spa/media/favicon.png' %}">
	</footer>
</body>
</html>