<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta content="width=device-width, initial-scale=1" name="viewport">
	<link href="{% static 'spa/media/favicon_mount.png' %}" rel="icon" sizes="16x16" type="image/png">
	<title>Css Grid Layout</title>
	<link href="{% static 'spa/css/grid.css' %}" rel="stylesheet">    
</head>
<body>
	<main id="container">
		<header>
			<h1> Some Long Title</h1>
		</header>
		<nav class="options">
			<a href="#" target="_blank" class="options-link">Home</a>
			<a href="#" target="_blank" class="options-link">Build Apps</a>
			<a href="#" target="_blank" class="options-link">Build Games</a>
			<a href="#" target="_blank" class="options-link">Build Websites</a>
		</nav>
		<div class="card" id="login">LOG-IN</div>
		<div class="card" id="career">Enchance Your Career</div>
		<div class="card" id="stats">Important Stats</div>
		<div class="card--blue" id="apps">Buiild APPs</div>
		<div class="card--blue" id="games">Build Games</div>
		<div class="card--blue" id="websites">Build Websites</div>
		<footer>
			<img src="{% static 'spa/media/favicon.png' %}">
		</footer>
		
	</main>
</body>
</html>