<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Alaska</title>
    <link crossorigin="anonymous" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" rel="stylesheet"/>
    <link href="{% static 'spa/css/style.css' %}" rel="stylesheet">
</head>
<body>

<footer>
    <ul>
        <li><a href="#" target="_blank"><i class="fab fa-twitter-square"></i></a></li>
        <li><a href="#" target="_blank"><i class="fab fa-facebook-square"></i></a></li>
        <li><a href="#" target="_blank"><i class="fab fa-youtube-square"></i></a></li>
        <li><a href="#" target="_blank"><i class="fab fa-pinterest-square"></i></a></li>
    </ul>
    <p>&copy; <script> document.write(new Date().getFullYear()); </script> IT is fun to create a website live!!! </p>
    <p>&ldquo;Tell me and I forget, teach me and I may remember, involve me and I learn.&rdquo; &mdash;Benjamin Franklin</p>    
</footer>
</body>
</html>