*{
	margin: 0;
	padding: 0;
	box-sizing: content-box;
}

body{
	font-family: 'Open Sans', sans-serif;
	background-color: #131633;
	color: white;
	line-height: 1.5;
}

/*
Business styles 
*/

header h1{
	font-size: 3.25rem;
	text-align: center;
	color: white;
	margin-bottom: 1.2rem;
	text-shadow: 2px 2px #22638e;
}

input{
	width: 85%;
	color: darkblue;
	background-color: aliceblue;
	font-size: 1.25rem;
	padding: 5px;
	margin-bottom: 10px;
	text-align: center;
}

section{
	padding: 10px;
	text-align: center;
}

section img{
	max-width: 100%
}

.options{
	width: 95%;
	background-color: white;
	
	border-top: 3px solid #3498db;
	border-radius: 3px;

	display: flex;
	align-items: center;
	justify-content: space-around;
}

.options-link{
	text-decoration: none;
	color: #717070;
	font-size: .9rem;
}

.options-link:hover{
	text-decoration: underline;	
	color: #229922;
	font-size: .9rem;
}

.card{
	background-color: white;
	color: #000;

}

.card--blue{
	background-color: #9ebcf5;
	
}

.card-title{
	color: white;
	background-color: #4f97d5;
	font-size: 1.25rem;
	padding: 5px;
	margin-bottom: 10px;
	text-align: center;
}

.graphs{
	font-size: 100px;
	line-height: 1;
	margin: 10px 0px 20px 0px;

	text-align: center;
}
.profile{
	width: 50%;
	border-radius: 50%;
	margin-bottom: 5px;
	border: 4px solid #4f97d5;
}



/*
Grid area 
*/
header{
	grid-area: header;
}

nav{
	grid-area: nav;
}

#login{
	grid-area: login;
}

#career{
	grid-area: career;
}

#stats{
	grid-area: stats;
}

#apps{
	grid-area: apps;
}

#games{
	grid-area: games;
}

#websites{
	grid-area: websites;
}

footer{
	grid-area: footer;
	margin: 1.2rem 0;
	text-align: center;
}

/*
Media
*/

@media screen and (min-width: 1100px){
	main{
		width: 90%;
		max-width: 1000px;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 10vh 4vh 38vh 38vh 10vh;
		grid-gap: 1rem;
		margin: 0 auto;
	}

	#container{
		grid-template-areas: 
		"header header header"
		"nav nav nav"
		"login career stats"
		"apps games websites"
		"footer footer footer"
	}
}

@media screen and (max-width: 1100px){
	main{
		width: 90%;
		max-width: 800px;
		display: grid;
		grid-template-columns: 1fr 1fr ;
		grid-template-rows: 10vh 4vh 25vh 25vh 25vh 10vh;
		grid-gap: 1rem;
		margin: 0 auto;
	}

	#container{
		grid-template-areas: 
		"header header"
		"nav nav"
		"login career"
		"stats apps"
		"games websites"
		"footer footer "
	}
}


@media screen and (max-width: 500px){
	main{
		width: 90%;
		max-width: 800px;
		display: grid;
		grid-template-columns: 1fr ;
		grid-template-rows: 10vh 4vh 25vh 25vh 25vh 25vh 25vh 25vh 10vh;
		grid-gap: 1rem;
		margin: 0 auto;
	}

	#container{
		grid-template-areas: 
		"header "
		"nav "
		"login"
		"career"
		"stats"
		"apps"
		"games"
		"websites"
		"footer"
	}
}