*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}

html{
	font-family: 'Releway', sans-serif;
	color: #555;
}

a{
	color: white;
}

ul{
	list-style: none;
}

h1, h2, h3, h4, h5{
	font-family: 'Overpass', sans-serif;
}

hr{
	width: 150px;
	height: 2px;
	background-color: #60A5CB;
	border: 0;
	margin: 40px auto;
}

.title{
	color: #131633;
	text-transform: capitalize;
	font-size: 2rem;
	margin-bottom: 2.1rem;
	text-align: center;
}
/** 
-----------------
Nav
----------------- **/

header{
	background-color: rgba(5,5,5,.7);
	color: white;	
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;

}

header a{
	text-decoration: none;
	opacity: .6;
	cursor: pointer;
}

header a:hover{	
	opacity: 1;	
}

nav ul{
	display: flex;
	flex-direction: row;	
	justify-content: flex-end;
}

nav ul li{
	margin: .5rem .8rem;
}


/** 
-----------------
hero
----------------- **/
.hero{
	background: grey;
	color: white;
	text-align: center;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	min-height: 100vh;
}

.hero h1, .hero h3{
	font-family: 'Overpass', sans-serif;
	font-size: 1.8rem;
	text-shadow: 2px 2px #000;
	margin-bottom: 2.5rem;
}

.hero h1{
	font-size: 4rem;
	margin-bottom: 1rem;
}

.hero a.btn{
	color: white;
	background-color: #131560;
	text-decoration: none;

	padding: 1rem 2rem;
	margin: 1rem;
	border-radius: .5rem;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	opacity: 1;
	border: 2px solid white;
}

.hero a.btn:hover {
	background-color: #1099f3;
}

/*-----------------
ABOUT
----------------- */

.about{
	padding: .7rem;
	background-color: #f5f5f5;
	margin-bottom: 1.4rem;
}

#two-cols{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.about-img{
	border: 4px solid #60A5CB;
	background-color: #60A5CB; //todo investigate white line under the image 
}

.about-img img{
	width: 100%;
	max-width: 400px;
	min-width: 200px; 
}

.about-bio{
	width: 65%;
	max-width: 800px;
	line-height: 2;
	margin-left: 1.5rem;
}


/*-----------------
Gallery
----------------- */

.gallery{
	background-color: white;	
}

.gallery p{
	max-width: 800px;
	text-align: center;
	margin: 0 auto 2rem;
	padding: 0 1.5rem;
	line-height: 2;
}


.gallery .grid li{
	padding: 1.2rem;
	height: 350px;
	border-radius: 3px;	
	background-clip: content-box;
	background-size: cover;
	background-position: center;
	background-color: #333;
}

.gallery ul.grid{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.gallery .grid li.small{
	flex-basis: 40%;
}

.gallery .grid li.large{
	flex-basis: 60%;
}
.gallery .grid li.empty{	
	background-color: #fff;
	height: auto;
}

/*-----------------
Travelling
----------------- */

.getting-around{
	text-align: center;
	max-width: 800px;
	margin: 0 auto;
}

.getting-around ul.grid{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
	margin-bottom: 4rem;
}

.getting-around p{
	margin-bottom: 1.2rem;
}

.getting-around ul.grid li{
	flex-basis: 33%;
	padding: 0 1.2rem;
	margin-bottom: 2.5rem;
}

.ico{
	font-size: 2.5rem;
	color: #2196f6;
	margin-bottom: 1.2rem;
}

.getting-around ul.grid li h4{
	color: #555;
	font-size: 1.2rem;
	margin-bottom: .6rem;
}
.getting-around ul.grid li p{
	text-align: left;
	margin: 0;
}


/** 
-----------------
Quote
----------------- **/

.famous-quotes{
	background-color: #fafafa;
	padding-bottom: 2.3rem;
	text-align: center;
}

.famous-quotes .portrait-photos{
	border-radius: 50%;
	max-width:150px;
	border: 4px solid #2196f6;
	margin-bottom: .8rem;
}

.famous-quotes .portrait-photos:first-child{
	margin-top: 1.1rem;
}

.famous-quotes .quote{
	font-size: 1.2rem;
	font-weight: 400;
	line-height: 1.5;
	margin-bottom: 1.2rem;
	padding: 0;
}


.famous-quotes .author{
	margin: 1.2rem auto;

}

.famous-quotes .author:last-child{
	margin-bottom: 0;
}
/** 
-----------------
Contact
----------------- **/
section.flexbox-section{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

section.flexbox-section p{
	max-width: 900px;
	text-align: left;
	margin-bottom: 2rem;
	padding: 0 1.2rem;
	line-height: 1.5;

}

.contact-form {
	width: 100%;
	display: flex;
	justify-content: center;
}

/** 
-----------------
Footer
----------------- **/
footer{
	background-color: #131622;
	text-align: center;
	color: white;
	background: linear-gradient(to bottom, #284e7a ,#000 100%);
	padding: 4rem 0rem;

	display: flex;
	flex-direction: column;
	align-items: center;
}

footer p{
	text-transform: uppercase;
	font-size: 0.8rem;
	color: rgba(255,255,255,.6);
	margin-bottom: 0.6rem
}

footer  ul{
	margin-bottom:  1.6rem;
	display: flex;
	flex-direction: row;
}

footer ul li{
	margin: 0 0.5rem;
}

footer ul li a{
	font-size:2.1rem;
	cursor: pointer;
}

@media(max-width: 1000px){
	header{
		text-align: center;
		flex-direction: column;
		padding: 1.2rem 3rem;
	}
	nav{
		justify-content: space-around;
	}

	nav ul{		
		justify-content: center;
	}

	.gallery .grid li.small, .gallery .grid li.large{
		flex-basis: 100%;
	}

	.gallery .grid li{
		height: 400px;
	}

	.getting-around{
		padding: 0 2.5rem;
	}

	.getting-around ul.grid li{
		flex-basis: 70%;
		margin-bottom: 4rem;
	}

	.getting-around ul.grid li p{
		text-align: center;
	}

	.famous-quotes .quotes: {
		font-size: 1.1rem;
		padding: 0 1.2rem;
	}

	.famous-quotes .author{
		font-size: .9rem;
	}

}

@media(max-width: 800px){
	footer{
		padding: 3rem 0.9rem;
		flex-direction: 
	}

	.hero{
		min-height: 600px;
	}

	.hero h1{
		font-size: 2rem;		
	}

	.hero h3{
		font-size: 1.2rem;		
	}

	.hero a.btn{
		padding: .8rem 1.6rem;
		margin: 1rem;

	}
}

@media(max-width: 600px){
	#two-cols{
		flex-direction: column;
	}

	.about-bio{
		margin-top: 1.2rem;
		line-height: 1.5;
		text-align: left;
	}
}

