{% extends 'base.html' %}
{% load static %}
{% block javascript %}
<script src="{% static 'crudbook/js/books.js' %}">
window.CSRF_TOKEN = "{{ csrf_token }}";
</script>
{% endblock %}

{% block content %}
<h1 class="page-header">Books</h1>
<p>
    <button type="button" class="btn btn-primary js-create-book">
        <span class="glyphicon glyphicon-plus"></span>
        New book
    </button>
</p>

<table class="table" id="book-table">
    <thead>
    <tr>
        <th>#</th>
        <th>Title</th>
        <th>Author</th>
        <th>Type</th>
        <th>Publication date</th>
        <th>Pages</th>
        <th>Price</th>
    </tr>
    </thead>
    <tbody>
    {% for book in books %}
    <tr>
        <td>{{ book.id }}</td>
        <td>{{ book.title }}</td>
        <td>{{ book.author }}</td>
        <td>{{ book.get_book_type_display }}</td>
        <td>{{ book.publication_date }}</td>
        <td>{{ book.pages }}</td>
        <td>{{ book.price }}</td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="7" class="text-center bg-warning">No book</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<div class="modal fade" id="modal-book">
    <div class="modal-dialog">
        <div class="modal-content">
        </div>
    </div>
</div>
{% endblock content %}